[submodule "third-party/garrysmod_common"]
	path = third-party/garrysmod_common
	url = https://github.com/danielga/garrysmod_common.git
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/curl/curl.git
